<% provide(:title, 'About Us') %>
<h1>About Me</h1>
<p>
  Hello, my name is Jacob Sikorski and I'm a programmer.  Currently I happily work for a fast growing startup called <a href="infinitegamepublishing.com">Infinite Game Publishing</a>.  I've been with the company since its start, and witnessed it grow from 5 or so employees to over 60 in less than a year and I'm happy to be a part of that growth.
</p>
<p>
  Most of my work is in Web Development using <strong>PHP</strong> (Preferrably the <strong>Symfony 2</strong> Framework) and Ruby on Rails, but I have been known to dabble with some Cocoa development as well.
</p>
<p>
  I'm Fairly OS agnostic:  I chose the better OS for the task but usually it really doesn't matter in the end (although I really do like my Mac).
</p>