<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<div id="about-me">
  <img id="my-photo" src="https://dl.dropbox.com/u/2080705/blog_uploads/mexico.jpg" />
  <div id="text">
    <p>
      Hello, my name is Jacob Sikorski and I'm a developer (i.e. programmer, creator, hacker, geek, teckie).  Currently I happily work for a fast growing startup called <a href="infinitegamepublishing.com">Infinite Game Publishing</a>.  I've been with the company since its start, and witnessed it grow from 5 or so employees to over 60 in less than a year and I'm happy to be a part of its development.
    </p>
    <p>
      Most of my work is in Web Development using <strong>PHP</strong> (Preferrably the <a href="http://symfony.com/">Symfony 2</a> Framework) and <a href="http://rubyonrails.org/">Ruby on Rails</a>, but I have been known to dabble with some Cocoa development and I can navigate myself easily in the Java and C++ world as well.  I sometimes Google common issues but usually the API is my most valuable resource. 
    </p>
    <p>
      I believe in clean coding practices and coding consistency. My coding style tends to adapt to the framework and language in question.  For example, in Ruby and CSS I use delimiter seperated words, whereas in PHP or Cocoa I tend to use Case seperated words.  
    </p>
    <p>
      I'm Fairly OS agnostic.  Instead, I chose the better (and even cheaper) OS for the given task but often it really doesn't matter.  I own a Mac and a PC and I'm comfortable with both.  I've also spent a fair share of nights compiling linux kernels.  
    </p>
    <p>
      I love challenges, and I love to be on the bleeding edge of technology.  I'm always looking for new and better ways of doing things and the path to learning and discovering them is just as fun as using them.
    </p>
  </div>
</div>