<%= provide(:title, 'Articles') %>
<% if @articles.any? %>
  <p><strong>Articles (<%= @articles.count %>):</strong></p>
  <ol class="articles">
    <%= render @articles %>
  </ol>
  <%= will_paginate @articles %>
<% end %>