<li class="<%if article.id.odd?%>alt<%end%>">
  <span class="title"><%= link_to article.title, article %></span>
  <span class="abstract"><%= article.abstract %></span>
  <div class="timestamp">
    Posted <%= time_ago_in_words(article.created_at) %> ago.
  </div>
</li>