<% provide(:title, "Edit Article") %> 
<%= raw render "preview_textile.js"%>

<h1>Edit Article</h1>
<%= form_for(@article) do |f| %>
  <%= render 'fields', :f => f %>
  <%= f.submit "Update Article" %>
<% end %>
<article id="preview"></article>