<% provide(:title, "Edit Article") %> 

<h1>Edit Article</h1>
<%= form_for(@article) do |f| %>
  <%= render 'fields', :f => f %>
  <%= f.submit "Update Article" %>
<% end %>
<%= raw render(:partial => "articles/preview_article", :formats => [:js]) %>
<article id="preview"></article>