<% provide(:title, 'New Article') %>
<h1>Create Article</h1>

<%= form_for(@article, :class => "kubee-layout") do |f| %>
  <%= render 'fields', :f => f %>
  <%= f.submit "Post"%>
<% end %>

<%= raw render(:partial => "articles/preview_article", :formats => [:js]) %>
<article id="preview"></article>
