<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <div class="kubee-layout">
    <%= render 'fields', :f => f %>
    <div class="kubee-layout-row">
      <div class="kubee-layout-cell">
        <div class="kubee-layout-cell-input">
          <%= f.submit "Create my Account"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
