$linkTextColor: #f0e5d1; //Standard color of links
$bodyTextColor: #bfa87e; //Standard color for text
$boxHightlight: #241e14; //The hightlight on a box: Usually bottom border
$boxBorder: #19150e; //The part of the box that makes it look indented
$border: #241E14;
//$boxBackground: ;