/******* BASE STYLE ******/
body {
  padding: 0px;
  margin: 0;
  background: #fff url('body-bg.jpg') no-repeat scroll top center;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #585858;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-style: normal;
  font-weight: 100;
}

h1{
  border-bottom: 1px solid #ddd;
  font-size: 30px;
  padding: 20px 0;
  font-weight: normal;
}

h2 {
  font-size: 20px;
}

a {
  color: #6179a6;
  text-decoration: none;
}

a:hover{
  color: #000;
}


.wrapper {
  margin: 0 auto;
  width: 800px;
}

#content {
  /*background-color: #d8d8d8;
  border: 1px solid #d4d8da;
  -moz-box-shadow:    0 0 1px 1px #b3b3b3;
  -webkit-box-shadow: 0 0 1px 1px #b3b3b3;
  box-shadow:         0 0 1px 1px #b3b3b3;
  padding: 20px;
  */
}

/******* HEADER ******/
header{
  height: 100px;
  position: relative;
  padding: 20px 0px;
}

header .wrapper {
}

header #logo {
  float: left;
}

header nav {
  padding: 10px;
}

/******* NAVIGATION ******/
nav {
  margin 0;
  text-align: right;
  color: #6179a6;
  /*
  background-color: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow:    0 0 1px 1px #fff;
  -webkit-box-shadow: 0 0 1px 1px #fff;
  box-shadow:         0 0 1px 1px #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  */
  text-transform: uppercase;
}

nav ul{
  list-style: none;
  padding: 0px 20px;
  margin: 0;
}

nav ul li{
  margin-left: 20px;
  display: inline-block;
}

/******* FOOTER ******/
footer {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  font-size: 12px;
}

footer #credits{
  float: left;
}