/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/******* BASE STYLE ******/
body {
  padding: 0px;
  margin: 0;
  background: #fff url('body-bg.jpg') repeat-y scroll top center;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #585858;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-style: normal;
  font-weight: 100;
}

h1{
  border-bottom: 1px solid #ddd;
  font-size: 30px;
  padding: 20px 0;
  font-weight: normal;
}

h2 {
  font-size: 20px;
}

a {
  color: #6179a6;
  text-decoration: none;
}

a:hover{
  color: #000;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
}

#content {
  /*background-color: #d8d8d8;
  border: 1px solid #d4d8da;
  -moz-box-shadow:    0 0 1px 1px #b3b3b3;
  -webkit-box-shadow: 0 0 1px 1px #b3b3b3;
  box-shadow:         0 0 1px 1px #b3b3b3;
  padding: 20px;
  */
}

.code {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}