// Articles
.articles {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid #241e14;
    overflow: auto;
    vertical-align: top;
    padding: 10px 10px;
    margin: 0;
    &:last-child {
      border-bottom: 0px solid #A8936C;
    }

    img {
        border: 1px solid #17130d;
        border-top: 1px solid #17130d;
        -moz-box-shadow:    0 0 1px 1px #000;
        -webkit-box-shadow: 0 0 1px 1px #000;
        box-shadow:         0 0 1px 1px #000;
    }

    a, img {
      vertical-align: top;
    }
    &.alt{
      background-color:rgba(0,0,0,0.1);
    }

    .delete_link {
      float: right;
    }

    ul.user{
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 80px;
      border: 0px;
      li{
        border-bottom: 0px dashed #A8936C;
        padding: 0 0 5px 0;
        display: block;
        &:last-child {
          border-bottom: 0px solid #A8936C;
        }
      }
    }
  }
}

// Article
article {
  position: relative;
  #preview-title{
    color: #000;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 0px;
    -moz-transform:rotate(35deg);
    -webkit-transform:rotate(35deg);
    -o-transform:rotate(35deg);
    -ms-transform:rotate(35deg);
  }

  img {
      border: 1px solid #17130d;
      border-top: 1px solid #17130d;
      -moz-box-shadow:    0 0 1px 1px #000;
      -webkit-box-shadow: 0 0 1px 1px #000;
      box-shadow:         0 0 1px 1px #000;
  }

  &#preview {
    margin: 0 -10px 10px -10px;
    padding: 9px;
    margin-bottom: 5px;
    border: 1px dotted #241e14;
    overflow: hidden;
  }

  pre {
    margin-left: 20px;
    padding: 10px;
    border-bottom: 1px solid #2f271b;
    border-top: 1px solid #19150e;
    background-color: #241e14;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
  }

  p {
    text-align: justify;
  }

  code{
    color: #eedcbc;
    word-wrap: break-word;
  }

  .example {

  }
}

// Article Content
.content {
  display: block;
}

.title {
  padding: 0px;
  padding-bottom: 5px;

  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Arial Black', 'Verdanda-Bold', Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 2px #000;
  color: #ceb586;
}

.timestamp {
  color: #000;
}

.author {
  color: #1B160F;
  padding-bottom: 10px;
  font-size: 12px;
  font-family: 'Arial Black';
}

// Article Preview Duplicate
#article_content, #content-duplicate{
  font-size:13px !important;
  font-style: normal;
  font-family: monospace, Arial;
  a {
    word-wrap: break-word;      /* IE */
  }
}

#content-duplicate{
  overflow:auto;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */   
  display: inline-block;
  white-space: pre;
  display: block;
}