$lightGray: #ddd;
$darkGray: #d4d8da;
$marginPar: 16px;

/******* BASE STYLE ******/
body {
  padding: 0px;
  margin: 0;
  background: #fff url('background.jpg') repeat-y scroll top center;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #585858;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-style: normal;
  font-weight: 100;
}

h1{
  border-bottom: 1px solid #ddd;
  font-size: 30px;
  padding: 20px 0;
  font-weight: normal;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  //border-bottom: 1px solid #ddd;
}

a {
  color: #6179a6;
  text-decoration: none;
}

a:hover{
  color: #000;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
}

#content {
  /*background-color: #d8d8d8;
  border: 1px solid #d4d8da;
  -moz-box-shadow:    0 0 1px 1px #b3b3b3;
  -webkit-box-shadow: 0 0 1px 1px #b3b3b3;
  box-shadow:         0 0 1px 1px #b3b3b3;
  padding: 20px;
  */
  p{
    margin: $marginPar 0;
  }
}

.code {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

/******* HEADER ******/
header{
  height: 100px;
  position: relative;
  padding: 20px 0px;
}

header #logo {
  float: left;
}

header nav {
  padding: 20px 0;
}

/******* NAVIGATION ******/
nav {
  margin: 0px;
  text-align: right;
  color: #6179a6;
  text-transform: uppercase;
}

nav ul{
  list-style: none;
  padding: 0px 20px;
  margin: 0;
}

nav ul li{
  margin-left: 20px;
  display: inline-block;
}

/******* FOOTER ******/
footer {
  border-top: 1px solid $lightGray;
  padding: 10px 0;
  font-size: 12px;
}

footer #credits{
  float: left;
}

.alert {
  padding: 10px;
  border: 1px solid $lightGray;
  margin: 5px;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  ul {
    list-style: none;
    margin: 0 0 0 0px;
    padding: 0;
  }
}
.alert-error{
  color: #b00;
  border-color: #b00;
}
.alert-success{
  color: #0b0;
}

.alert-notice{
  color: #d4a017;
}