@import "variables";
/******* BASE STYLE ******/
body {
  padding: 0;
  margin: 0;
  background: #29241b url('background.gif') repeat top left;

  //Fonts 
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1em;
  //font-weight: 100;
  color: #bfa87e;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

  //Font
  font-style: normal;
  font-weight: 400;
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 2px #000;
  color: #ceb586;
}

h1{
  border-bottom: 1px solid $border;
  font-size: 100%;
  padding: 20px 0 5px 0;
  a {
    font-size: 14px;
  }
  .button {
    float: right;
    margin: 0;
    padding: 0px 10px;
  }

  .pagination {
    float: right;
  }
}

h2 {
  border-bottom: 1px solid $border;
  font-size: 16px;
  padding: 20px 0 5px 0;
  font-weight: normal;
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  //border-bottom: 1px solid #ddd;
}

a {
  color: $linkTextColor;
  text-decoration: none;
}

a:hover{
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}
@media \0screen {
  img { 
    width: auto; /* for ie 8 */
  }
}

.wrapper {
  padding: 0 0;
  margin: 0 auto;
  width: 800px;
  min-width: 350px;
  max-width: 90%;
}

#content {
  /*background-color: #d8d8d8;
  border: 1px solid #d4d8da;
  -moz-box-shadow:    0 0 1px 1px #b3b3b3;
  -webkit-box-shadow: 0 0 1px 1px #b3b3b3;
  box-shadow:         0 0 1px 1px #b3b3b3;
  padding: 20px;
  */
  p{
    margin: 16px 0;
  }
}

.code {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

/******* HEADER ******/
header{
  position: relative;
  padding: 60px 0 60px 0;
  
  #logo {
    color: #ceb586;
    font-size: 48px;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 5px #000;
    span.cap {
      font-size: 72px;
    }
  }

  #logo:hover{
    color: $linkTextColor;

    span.cap {
      color: $bodyTextColor;
    }
  }


  .kubee-layout-cell-100{
    text-align: center;
    
  }

  /******* NAVIGATION ******/
  nav {
    vertical-align: bottom;
    padding-top: 50px;
    font-family: 'Arial Black';
    text-shadow: 0px 0px 2px #000;
    color: #ceb586;
    font-weight: bold;
    margin: 0px;
  }
}

nav {
  text-align: right;
  ul{
    display: inline-block;
    padding: 0px 0px;
    margin: 0;
    li{
      float: left;
      margin-left: 10px;
      margin-right: 20px;
    }

    :first-child {
      list-style: none;
    }
    :last-child{
      margin-right: 0;
    }
  }
}


/******* FOOTER ******/
footer {
  border-top: 1px solid #241E14;
  padding: 10px 0;
  font-size: 12px;
  ul {
    padding: 0;
  }
  #credits{
    float: left;
  }
}

.alert {
  padding: 10px;
  border: 1px solid #241E14;
  margin: 5px;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  ul {
    list-style: none;
    margin: 0 0 0 0px;
    padding: 0;
  }
}
.alert-error{
  color: #b00;
  border-color: #b00;
}
.alert-success{
  color: #0b0;
}

.alert-notice{
  color: #d4a017;
}