#sidebar {
  border-top: 1px solid #3e3e3e;
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: #3a3b3b;
  color: #6e6e6e;
  weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  -moz-box-shadow:    inset -4px 0px 20px rgba(0,0,0,.2);
  -webkit-box-shadow: inset -4px 0px 20px rgba(0,0,0,.2);
  box-shadow:         inset -4px 0px 20px rgba(0,0,0,.2);
  li {
    position: relative;
    vertical-align: bottom;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #5e5e5e;
    overflow: hidden;
    a {
      color: #7e7e7e;
      text-shadow:  1px 1px #2e2e2e;
      display: block;
      padding-top: 50px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      font-family: arial;
      border-bottom: 1px solid black;
      background-color: #3a3b3b;
    }

    a#users {
      background: #3a3b3b  url('admin/users.png') no-repeat center 15px;
    }

    a#articles {
      background: #3a3b3b  url('admin/articles.png') no-repeat center 15px;
    }

    a#comments {
      background: #3a3b3b  url('admin/comments.png') no-repeat center 15px;
    }
    
    a:hover{
      background-color: #3e3e3e;
    }

    span.current{
      display: none;
      position: absolute;
      top: 26px;
      right: -16px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Safari and Chrome */
      -o-transform: rotate(45deg); /* Opera */
      -moz-transform: rotate(45deg); /* Firefox */
      height: 20px;
      width: 20px;
      background: #fff url('background.jpg') repeat-y scroll top center;
      -moz-box-shadow:    4px 4px 0px 20px rgba(0,0,0,.2);
    }
  }

  &li.selected{
    background-color: #343434;
    span.current{
      display: inline-block;
    }
  }
}