// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gravatar{
  border: 1px solid #d4d8da;
  -moz-box-shadow:    0 0 1px 1px #b3b3b3;
  -webkit-box-shadow: 0 0 1px 1px #b3b3b3;
  box-shadow:         0 0 1px 1px #b3b3b3;
  padding: 20px;
}