// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightGray: #ddd;
$darkGray: #bbb;
$marginPar: 16px;

#avatar {
  float: right;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0px 0px 20px 15px;
  .gravatar{
    margin: $marginPar 5px 0px 5px;
  }
}

.gravatar{
  border: 1px solid $lightGray;
  -moz-box-shadow:    0 0 1px 1px #000;
  -webkit-box-shadow: 0 0 1px 1px #000;
  box-shadow:         0 0 1px 1px #000;
  padding: 0px;
  margin: 0px 5px;
}

ul.users {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px dashed $lightGray;
    overflow: auto;
    vertical-align: top;
    padding: 10px 10px 10px 0;
    margin: 0;
    //border-top: 1px solid $lightGray;
    &:last-child {
      border-bottom: 0px solid $lightGray;
    }
    a, img {
      vertical-align: top;
      float: left;
    }
    &.alt{
      background-color:rgba(255,255,255,0.3);
    }

    .delete_link {
      float: right;
    }

    ul.user{
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 80px;
      border: 0px;
      li{
        border-bottom: 0px dashed #ddd;
        padding: 0 0 5px 0;
        display: block;
        &:last-child {
          border-bottom: 0px solid $lightGray;
        }
      }
    }
  }
}