<footer>
  <div id="credits">Site Created by Jacob Sikorski</div>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Site Map", '#' %></li>
    </ul>
  </nav>
</footer>