<header>
  <img id="logo" alt="Sudo Code" src="/assets/logo.png"/>
  <nav>
    <ul>
      <li><%= link_to "Blog", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Log-In", '#' %></li>
    </ul>
  </nav>
</header>